.header {
 display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    box-sizing: border-box;
    width: 1052px;
    min-height: 105px;
    margin: auto;
    margin-top: 92px;
    margin-bottom: 96px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-style: normal;
}

.header__links-list {
  
}

.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 148px;
  height: 105px; 
  margin: auto;
}